body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

#header .close-toggle {
  display: none;
}

@media (max-width: 992px) {
  #header {
    width: 150px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
  #header .close-toggle {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

.nav-menu a:hover {
  color: #fff;
  background: red;
}

.nav-menu .active {
  color: #fff;
  background: red;
}

.nav-menu .active:focus {
  color: #fff;
  background: red;
}

.nav-menu li:hover > a {
  color: #fff;
  background: red;
}

.nav-menu a:hover span {
  color: #fff;
}

.nav-menu .active span,
.nav-menu .active:focus span {
  color: #fff;
}

.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
  .mobile-nav-toggle {
    display: none;
  }
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
  #hero {
    padding-left: 160px;
  }
}

.mobile-nav-toggle {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  padding: 5px;
}

.mobile-nav-toggle::before {
  background-color: red;
  color: white;
}

.mobile-nav-toggle::after {
  position: absolute;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #ff0000;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: red;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: red;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

section {
  padding: 30px 0;
  overflow: hidden;
}

section u {
  color: red;
  font-weight: 800;
}

.section-title {
  text-align: center;
  padding-bottom: 15px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 190px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 95px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #bb0505;
  bottom: 0;
  left: calc(50% - 30px);
}

.section-title p {
  margin-bottom: 0;
}

.section-title .about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.section-title .about .content ul {
  list-style: none;
  padding: 0;
}

.section-title .about .content ul li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title .about .content ul strong {
  margin-right: 10px;
}

.section-title .about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.section-title .about .content p:last-child {
  margin-bottom: 0;
}

.profile-img {
  border-radius: 50%;
}

.cv-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fc0000;
}

.cv-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #ff0000;
  position: relative;
}

.cv-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.cv-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.cv-item ul {
  padding-left: 20px;
}

.cv-item ul li {
  padding-bottom: 10px;
  /* removed bullet points, maybe add chevrons etc.*/
  list-style-type: none;
}

.cv-item:last-child {
  padding-bottom: 0;
}

.cv-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

/* CV start  */
/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background-color: #ff0000;
}

.skills .skill-header {
  text-align: center;
  padding-bottom: 30px;
}

.skills .skill-header h4 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.skills .skill-header h4::before {
  content: "";
  position: absolute;
  display: block;
  width: 190px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 95px);
}

.skills .skill-header h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #bb0505;
  bottom: 0;
  left: calc(50% - 30px);
}

/* soft skill start  */
.soft-skill .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.soft-skill .content ul {
  list-style: none;
  padding: 0;
}

.soft-skill ul li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soft-skill .content ul strong {
  margin-right: 10px;
}

.soft-skill .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.soft-skill .content p:last-child {
  margin-bottom: 0;
}

/*  Portfolio */
#portfolio {
  padding: 0;
}

#portfolio .section-sub-title {
  text-align: center;
  margin-bottom: 1em;
}

#portfolio .card {
  width: 250px;
  height: 250px;
  background-color: #000;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#portfolio .card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#portfolio .card:hover::after {
  height: 280px;
}

#portfolio .card:hover .con-text p {
  margin-bottom: 0px;
  opacity: 1;
}

#portfolio .card:hover .ul {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 0;
}

#portfolio .card::after {
  width: 100%;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
  z-index: 20;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#portfolio .card img {
  height: 100%;
  z-index: 10;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#portfolio .card:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#portfolio .card .con-text {
  z-index: 30;
  position: absolute;
  bottom: 10px;
  color: #fff;
  padding: 20px;
  padding-bottom: 30px;
}

#portfolio .card .con-text p {
  font-size: .9rem;
  opacity: 0;
  margin-bottom: -190px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portfolio .card .con-text p button {
  padding: 7px 17px;
  border-radius: 14px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  font-family: poppins;
  font-size: .85rem;
  outline: none;
}

#portfolio .card .con-text p button:hover {
  background: #fff;
  color: #000;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper form {
  background: #db0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.form-wrapper form h3 {
  color: #fff;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-wrapper form input,
.form-wrapper form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
}

.form-wrapper form button {
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  width: 150px;
  margin: 10px auto 0;
  border-radius: 30px;
}

#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 0px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 10px 0;
}

.copyright {
  margin: 0 0 5px 0;
}

.credits {
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */